/* Estilos para la imagen en pantallas pequeñas */
img {
    width: 90%; /* La imagen ocupará todo el ancho disponible */
    height: auto; /* La altura se ajustará proporcionalmente */
    object-fit: cover;
  }
  
  /* Media query para pantallas más grandes */
  @media screen and (min-width: 768px) {
    img {
      width: 50%; /* La imagen ocupará el 50% del ancho disponible */
      height: auto; /* La altura se ajustará proporcionalmente */
      object-fit: cover;
    }
  }
  
  /* Media query para pantallas aún más grandes */
  @media screen and (min-width: 1200px) {
    img {
      width: 80%; /* La imagen ocupará el 30% del ancho disponible */
      height: auto; /* La altura se ajustará proporcionalmente */
      object-fit: cover;
    }
  }
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }